html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px;
}

p {
  font-size: 19px;
  margin: 0 0 17px;
  line-height: 1.5;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 17px;
}

input,
select,
textarea,
button {
  margin: 0;
}

.p {
  padding: 0.625rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #ffffff;
}

.bg1 {
  background-color: #3e5a78;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: #820000;
}

.card {
  border: 3px solid #1a1a1a;
  margin-bottom: 1rem;
}

.card .card-body {
  padding: 7px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -25px;
  margin-right: -25px;
}

[class*="col-"] {
  display: block;
  position: relative;
  width: 70%;
  padding-right: 13px;
  padding-left: 30px;
}

.history-btn {
    text-align: center;
    display: inline-block;
    padding: 8px 7px;
    margin: 8px;
    width: 100%;
    font-size: 18px;
    border-radius: 37px;
    border: 5px solid transparent;
    color: #000000;
    background-color: #ccb8e9;
}

.search-button {
    text-align: inherit;
    margin: 13px;
    width: 100%;
    border-radius: 70px;
    background-color: #9bb7d5;
    color: rgb(255, 255, 255);
}

.weather-search {
    width: 100%;
    padding: 7px;
    margin: 7px;
    border-radius: 70px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #9bb7d5;
    border: 1px solid #c1a30b;
}

.search-hr {
    margin-left: 7px;
}

.weather-header {
    background: #6b1bbc;
    background: -webkit-linear-gradient(right, #4b1aa0, #1d6a19);
    background: -moz-linear-gradient(right, #4b1aa0, #1d6a19);
    background: linear-gradient(to left, #4b1aa0, #1d6a19);
}
